body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
    line-height: 1.7;
  background-color: #e5e5e5;
  margin: 0 0 0 0;
  padding: 0;

}
a {
  color: blue;
}
img {
  display: block;
  /* max-width: 100%; */

}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;



}

.main-content-section {
  display: flex;
  flex-direction: column;
  padding: 88px 0 88px 88px;
  background-color: #fff;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.about-me-section {
  width: 400px;
  height: 230px;
  margin-bottom: 12px;
}

.about-me-profession {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin-bottom: 12px;
}

.name {
  margin-bottom: 12px;
}


.my-projects-section {
  margin-bottom: 12px;
  
}

.project-list {
  color: #000;
}
.accent{
  color: orangered;
}
.proj-el{
  color: #000;
}
.period{
  color: #A8A8A8;
  line-height:1.15;
}
.my-work-experience-section {}

.my-education-section {}

/* sidebar section */
.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0px;
  
}

.contacts-section {
  margin: 50px 0px 0px 40px;
}

.tech-skills-section {}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
  margin-left: 50px;
}

.tech-soft-skills-list {
  color: orangered;
}

.tech-soft-skills-list-item {
  color: #fff;
}

/* contacts section */
.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}

.contacts-section-link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
