body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
}
.about-me-profession {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.main-content-section {
  display: flex;
  flex-direction: column;
}
.about-me-section {
}
.my-projects-section {
}
.my-work-experience-section {
}
.my-education-section {
}
/* sidebar section */
.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0px;
}

.contacts-section {
  margin: 50px 0px 0px 40px;
}
.tech-skills-section {
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
  margin-left: 50px;
}
/* contacts section */
.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}
.contacts-section-link {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
